--index-url https://pypi.python.org/simple
./libs/abstract
./libs/backup_file
./libs/command
./libs/core
./libs/file
./libs/file_object
./libs/xml
./libs/maven
./libs/memo
./libs/nonblocking_subprocess
./libs/past
./libs/path
./libs/ply
./libs/sequence
./libs/sort
./libs/temp_file
./libs/svn
./libs/test
-e .
